# Ignore build artifacts
bin/
obj/

# Ignore environment variables
.env

# Ignore IDE and editor files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore go-auth binary
go-auth